@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=Noto+Serif+TC:wght@400;700&display=swap");

@layer base {
  html {
    line-height: 1.6;
    /* font-size: 14pt; */
  }
  .base {
    width: 95%;
    @apply max-w-xl m-auto mt-12;
  }
  ol {
    @apply pl-4;
  }
}

@layer components {
  /* Yes, normally you put this in the HTML when using Tailwind. */
  /* We have 163088 pages from Moedict (zh_TW) alone. */
  .h {
    @apply w-1/2 min-w-[15ch];
    h1 {
      @apply font-sans-serif mt-2;
    }
    a {
      @apply link;
    }
  }
  #searchForm {
    @apply flex space-x-2;
    input {
      @apply border-2 px-1;
    }
    input[type="text"] {
      @apply w-full;
    }
  }
  .dictionary {
    @apply border-b-2 border-black font-sans-serif mb-2 my-8;
    @apply text-right;
    a {
      @apply link;
    }
  }
  .toc,
  .def {
    a {
      @apply link;
    }
  }
  .prose {
    a {
      @apply link;
    }
    p {
      @apply my-2;
    }
    h1,
    h2,
    h3 {
      @apply font-bold;
    }
    h1 {
      @apply text-2xl mt-4;
    }
    h2,
    h3 {
      /* @apply text-xl; */
    }
    ol {
      @apply list-decimal;
    }
  }
  .word {
    h1,
    h2,
    h3 {
      @apply font-bold;
    }
    h1 {
      @apply text-2xl mt-4;
    }
    h2,
    h3 {
      @apply text-xl;
    }
    ol {
      @apply list-decimal;
    }
    li {
      @apply mt-2;
    }
    li:first-child {
      @apply mt-0;
    }
    .pos {
      @apply font-bold mt-2 block;
    }
    .def {
      @apply block mb-2;
    }
  }
}

@layer utilities {
  .link {
    @apply text-blue-500;
    &:hover {
      @apply underline;
    }
  }
}
