<!DOCTYPE html>
<html lang="zh_TW">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="/b.css" />
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:sitename" content="{{sitename}}" />
    <meta name="twitter:creator" content="@kisaragi_hiu" />
    <meta name="keywords" content="dictionary" />
  </head>
  <body>
    <div class="base">{% block main %}{{ content | safe }}{% endblock %}</div>
    <script src="/s.js"></script>
  </body>
</html>
