{% macro word_moedict_zh(word) %}
{# It's ugly but it's less ugly than doing this in JS #}
<div class="word">
  {% for het in word.moedict_zh.heteronyms %}
    <h1>{{word.title}}</h1>
    {% if het.bopomofo %}
    <p>讀音：<span>{{ het.bopomofo }}</span></p>
    {% endif %}
    {# Treat this as an iterative program, not a template. #}
    {% set lasttype = "" %}
    {% set first = true %}
    {% for def in het.definitions %}
      {% if def.type %}
        {% if lasttype == def.type %}
        {% else %}
          {% if not first %}
          </ol>
          {% endif %}
          {% set first = false %}
          <p class="pos">{{ def.type }}</p>
          <ol>
        {% endif %}
        {% set lasttype = def.type %}
      {% endif %}
      <li>
        <p class="def">
        <span>{{ def.def | moedict_zh_process_def | safe }}</span>
        {% for ex in def.example %}
        <span>{{ ex | moedict_zh_process_def | safe }}</span>
        {% endfor %}
        {% for quote in def.quote %}
        <span>{{ quote }}</span>
        {% endfor %}</p>
      </li>
    {% endfor %}
  {% endfor %}
</div>
{% endmacro %}

{% macro word_moedict_twblg(word) %}
<div class="word">
  {% for het in word.moedict_twblg.heteronyms %}
    {# HACK lol #}
    </ol>
    <h1>{{word.title}}</h1>
    {% if het.trs %}
    <p>讀音：<span>{{ het.trs }}</span></p>
    {% endif %}
    {# Treat this as an iterative program, not a template. #}
    {% set lasttype = "" %}
    {% set first = true %}
    {% for def in het.definitions %}
      {% if def.type %}
        {% if lasttype == def.type %}
        {% else %}
          {% if not first %}
          </ol>
          {% endif %}
          {% set first = false %}
          <p class="pos">{{ def.type }}</p>
          <ol>
        {% endif %}
        {% set lasttype = def.type %}
      {% endif %}
      <li>
        <p class="def">{{ def.def }}</p>
        {% for ex in def.example %}
        <p>{{ ex }}</p>
        {% endfor %}
        {% for quote in def.quote %}
        <p>{{ quote }}</p>
        {% endfor %}
      </li>
    {% endfor %}
  {% endfor %}
</div>
{% endmacro %}

{% macro word_kisaragi(word) %}
<div class="word">
  {% for het in word.kisaragi_dict.heteronyms %}
    </ol>
    <h1>{{word.title}}</h1>
    {% if het.pronunciation %}
    <p>讀音：<span>{{ het.pronunciation }}</span></p>
    {% endif %}
    {# Treat this as an iterative program, not a template. #}
    {% set lasttype = "" %}
    {% set first = true %}
    {% for def in het.definitions %}
      {% if def.type %}
        {% if lasttype == def.type %}
        {% else %}
          {% if not first %}
          </ol>
          {% endif %}
          {% set first = false %}
          <p class="pos">{{ def.type }}</p>
          <ol>
        {% endif %}
        {% set lasttype = def.type %}
      {% endif %}
      <li>
        <p class="def">{{ def.def | kisaragi_process_ref | safe }}</p>
        {{ def.etymology }}
        {% for ex in def.example %}
        <p>{{ ex }}</p>
        {% endfor %}
        {% for quote in def.quote %}
        <p>{{ quote }}</p>
        {% endfor %}
      </li>
    {% endfor %}
  {% endfor %}
</div>
{% endmacro %}
