{% macro render_word_dict_idioms(entry) %}
<div class="word">
  <h1>{{entry.title}}</h1>
  {% if entry.bopomofo %}
  <p>讀音：<span>{{ entry.bopomofo | spc }}</span></p>
  {% endif %}
  <p class="def">{{ entry.definition }}</p>
  <h2>用法</h2>
  <p>{{ entry.用法語意說明 }}</p>
  <p>{{ entry.用法使用類別}}</p>
  <h3>例句</h3>
  <p>{{ entry.用法例句 | newline_string_to_ol | safe }}</p>
  <h2>辨識</h2>
  <p>近義：{{ entry.近義同 | comma_word_list | safe }}</p>
  <p>反義：{{ entry.近義反 | comma_word_list | safe }}</p>
  <p>參考詞語：「{{ entry.word_ref | linkToWord | safe }}」</p>
  <p>{{ entry.辨識同 }}{{ entry.辨識異 }}</p>
  {% if entry.辨識例句 %}
  {{ entry.辨識例句 | idioms_nuance | safe }}
  {% endif %}
  <p>{{ entry.形音辨誤 }}</p>
  {% if entry.source_name %}
  <h2 id="isc">典源</h2>
  <p>{{ entry.source_name }}</p>
  <p>{{ entry.source_content | idioms_source | safe }}</p>
  <h3>注解</h3>
  <p>{{ entry.source_comment | idioms_source_comment | safe }}</p>
  <p>{{ entry.source_reference }}</p>
  {% endif %}
  <h2>典故說明</h2>
  <p>{{ entry.典故說明 }}</p>
  <h2>書證</h2>
  {{ entry.書證 | newline_string_to_ol | safe }}
</div>
{% endmacro %}

{% macro render_word_dict_concised(word) %}
<div class="word">
  <h1>{{word.title}}</h1>
  {% if word["dict_concised"].bopomofo %}
  <p>讀音：<span>{{ word["dict_concised"].bopomofo | spc }}</span></p>
  {% endif %}
  {{ word["dict_concised"].definition | process_def_concised | safe }}
</div>
{% endmacro %}

{# Treat this as an iterative program, not a template. #}
{% macro render_word(word, dict) %}
<div class="word">
  {% for het in word[dict].heteronyms %}
    </ol>
    <h1>{{word.title}}</h1>
    {% set pronunciation = false %}
    {% if dict == "kisaragi_dict" %}
      {% set pronunciation = het.pronunciation %}
    {% elif dict == "moedict_zh" %}
      {% set pronunciation = het.bopomofo %}
    {% elif dict == "moedict_twblg" %}
      {% set pronunciation = het.trs %}
    {% endif %}
    {% if pronunciation %}
    <p>讀音：<span>{{ pronunciation | spc }}</span></p>
    {% endif %}
    {% set lasttype = "" %}
    {% set first = true %}
    {% for def in het.definitions %}
      {% if def.type %}
        {% if lasttype == def.type %}
        {% else %}
          {% if not first %}
          </ol>
          {% endif %}
          {% set first = false %}
          <p class="pos">{{ def.type }}</p>
          <ol>
        {% endif %}
        {% set lasttype = def.type %}
      {% else %}
        {% if first %}
          <ol>
          {% set first = false %}
        {% endif %}
      {% endif %}
      {% if dict == "kisaragi_dict" %}
        <li>
          <p class="def">
          {{ def.def | process_def_kisaragi | safe }}
          {{ def.example }}
          </p>
          <p>
          {{ def.etymology | process_def_kisaragi | safe }}
          </p>
          {% for quote in def.quote %}
          <p>{{ quote }}</p>
          {% endfor %}
        </li>
      {% elif dict == "moedict_zh" %}
        <li>
          <p class="def">
          <span>{{ def.def | process_def_moedict_zh | safe }}</span>
          {% for ex in def.example %}
          <span>{{ ex | process_def_moedict_zh | safe }}</span>
          {% endfor %}
          {% for quote in def.quote %}
          <span>{{ quote }}</span>
          {% endfor %}</p>
        </li>
      {% elif dict == "moedict_twblg" %}
        <li>
          <p class="def">{{ def.def }}</p>
          {{ def.example | interlinear_annotation_to_ruby | safe }}
          {{ def.quote | interlinear_annotation_to_ruby | safe }}
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endmacro %}
