[submodule "dicts/ministry-of-education"]
	path = dicts/ministry-of-education
	url = https://github.com/kisaragi-hiu/kemdict-data-ministry-of-education.git
[submodule "dicts/moedict-data"]
	path = dicts/moedict-data
	url = https://github.com/g0v/moedict-data
[submodule "dicts/moedict-data-twblg"]
	path = dicts/moedict-data-twblg
	url = https://github.com/g0v/moedict-data-twblg
