node_modules/
*.lock
_site/
_data/
*.js.map
.cask
*.elc
netlify/functions/serverless/*
!netlify/functions/serverless/index.js
*.zip
src/static/titles.json
dev-*.json
.netlify
*.db.br
*.gz
*.db
*.db-journal
