[submodule "ministry-of-education"]
	path = dicts/ministry-of-education
	url = https://github.com/kemdict/kemdict-data-ministry-of-education
[submodule "moedict-data-twblg"]
	path = dicts/moedict-data-twblg
	url = https://github.com/g0v/moedict-data-twblg
[submodule "ChhoeTaigiDatabase"]
	path = dicts/ChhoeTaigiDatabase
	url = https://github.com/ChhoeTaigi/ChhoeTaigiDatabase
[submodule "dicts/list-of-plants-of-formosa"]
	path = dicts/list-of-plants-of-formosa
	url = https://gitlab.com/kisaragi-hiu/list-of-plants-of-formosa
[submodule "dicts/caris-events--invade"]
	path = dicts/caris-events--invade
	url = https://github.com/caris-events/invade.git
