overrides:
  - files: "*.njk"
    options:
      parser: "html"
  - files: "*.svelte"
    options:
      parser: "svelte"
plugins:
  - "prettier-plugin-svelte"

pluginSearchDirs:
  - "."

printWidth: 100
