---
import SingleLayout from "$src/SingleLayout.astro";
import Group from "$src/components/Group.svelte";

import { getChars } from "$src/server/db";
import { groupByProp } from "$src/common";

const { with_stroke, without_stroke } = getChars();
---

<SingleLayout title="首字索引 - kemdict">
  <div class="prose">
    <h1>首字索引</h1>
    <Group
      title="其他"
      elements={without_stroke}
      template="/search?q=$1&m=prefix"
    />
    {
      groupByProp(with_stroke, "stroke_count").map(([count, elements]) => (
        <Group
          title={`${count} 畫`}
          elements={elements}
          template="/search?q=$1&m=prefix"
        />
      ))
    }
  </div>
</SingleLayout>
