---
import SingleLayout from "$src/SingleLayout.astro";
import Radicals from "./_Radicals.astro";
import { H1 } from "$src/components/typography";
import { site } from "common";
---

<SingleLayout title={`部首索引 - ${site.title}`}>
  <Fragment slot="head">
    <meta
      property="og:image"
      content="https://kemdict.com/og-image?title=部首索引"
    />
  </Fragment>
  <H1>部首索引</H1>
  <div class="prose">
    <Radicals />
  </div>
</SingleLayout>
