---
import { changeLanguage } from "i18next";
changeLanguage("zh-TW");

import SingleLayout from "$src/SingleLayout.astro";
import Group from "$src/components/Group.svelte";
import { H1 } from "$src/components/typography";

import { DB } from "$src/server/db";
import { site, groupByProp } from "common";

const radicals = await DB.getRadicals();
---

<SingleLayout title={`部首索引 - ${site.title}`}>
  <Fragment slot="head">
    <meta property="og:image" content="https://kemdict.com/og-image?title=部首索引" />
  </Fragment>
  <H1>部首索引</H1>
  <div class="prose">
    {
      groupByProp(radicals, "sc").map(([count, elements]) => (
        <Group
          title={`${count} 畫`}
          elements={elements}
          template="/radicals/$1"
        />
      ))
    }
  </div>
</SingleLayout>
