{{ define "main" }}
<div class="max-w-lg m-auto mt-12">
  <div>
    <div class="border-b-4 border-black font-sans-serif mb-2">
      教育部重編國語辭典
    </div>
    <div>
      {{ range (first 5 (index .Page.Site.Data "moedict")) }}
      <h1>{{ .title }}</h1>
      {{ range .heteronyms }}
      <!-- prettier-ignore -->
      {{ with .bopomofo }}
      <p>讀音：<span>{{.}}</span></p>
      <!-- prettier-ignore -->
      {{ end }}
      <ol class="list-decimal">
        {{ range .definitions }}
        <li>
          <div>
            {{ with .type }}
            <pos>{{.}}</pos>
            {{ end }}
            <p>{{ .def }}</p>
            {{ range .example }}
            <p>{{.}}</p>
            {{ end }} {{ range .quote }}
            <p>{{.}}</p>
            {{ end }}
          </div>
        </li>
      </ol>
      <!-- prettier-ignore -->
      {{ end }}
      {{ end }}
      {{ end }}
      <h1>向</h1>
      <p>讀音：<span>ㄒㄧㄤˋ</span></p>
      <pos>名</pos>
      <ol class="list-decimal">
        <li>
          <p>北面的窗戶。</p>
          <p>《說文解字．宀部》：「向，北出牖也。」</p>
          <p>《詩經．豳風．七月》：「穹窒熏鼠，塞向墐戶。」</p>
        </li>
      </ol>
      <pos>動</pos>
    </div>
  </div>
</div>
{{ end }}
