---
import "./src.css";

import Out from "$src/components/Out.astro";

// import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  wantFooter?: boolean;
}
const { title, wantFooter = true } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname + Astro.url.search, Astro.site);

// Cache for 6 months on the CDN
Astro.response.headers.set("Cache-Control", "s-maxage=15778463");
---

<!-- Yes, this works, actually. -->
<script>
  import {
    computePosition,
    autoUpdate,
    offset,
    shift,
    flip,
    arrow,
  } from "@floating-ui/dom";
  import { storePopup } from "@skeletonlabs/skeleton";
  storePopup.set({ computePosition, autoUpdate, offset, shift, flip, arrow });
</script>

<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{title}</title>
    <meta name="twitter:creator" content="@kisaragi_hiu" />
    <meta name="keywords" content="dictionary" />
    <meta name="theme-color" content="#000000" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <link href={canonicalURL} rel="canonical" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      is:inline
      id="plausible"
      defer
      data-domain="kemdict.com"
      src="https://plausible.io/js/script.compat.outbound-links.js"></script>
    {
      /* This has to not be type="module", because for some reason
      that causes it to run too late, and a FOUC happens. This also
      means is:inline is necessary as Astro-bundled script tags are
      loaded with type="module". */
    }
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        ((!localStorage.theme || localStorage.theme === "auto") &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    {
      /*
    This is a script that implements and applies a client side router. It's still useful even when the View Transitions spec is not implemented.

    It is not (yet) possible to add loading indication, which is a deal breaker.
    <ViewTransitions />
    */
    }
    <link rel="icon" href="/favicon.ico?v=2" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=2" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png?v=2" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body data-theme="kemdict-theme">
    {
      import.meta.env.DEV && (
        <div class="bg-error-300-600-token text-error-800-100-token absolute w-full text-center font-bold">
          <span>/// Development preview; </span>
          <div class="inline-flex">
            <a class="underline" href={canonicalURL} target="_blank">
              go to production
            </a>
          </div>
          <span> ///</span>
        </div>
      )
    }
    <div class="mx-auto my-0 w-[95%] max-w-5xl pt-12">
      <slot />
    </div>
    {
      wantFooter && (
        <footer
          class:list={[
            "mt-12 py-8",
            "bg-surface-900 text-primary-50",
            "[&_*]:my-2",
            "[&_h2]:font-bold [&_h2]:opacity-75",
            "[&_a]:text-primary-400 [&_a:hover]:text-primary-50 [&_a]:transition",
          ]}
        >
          <div class="mx-auto w-[95%] max-w-5xl">
            <h1 class="flex items-center text-lg">
              <img
                class="mr-2 inline h-10 w-10 rounded-xl shadow"
                src="/web-app-manifest-192x192.png"
              />
              <span>Kemdict 國語整合典</span>
            </h1>
            <div class="space-y-4 md:flex md:[&>div]:min-w-[30%]">
              <div>
                <p>
                  由
                  <Out class="" href="https://kisaragi-hiu.com">
                    如月飛羽
                  </Out>
                  所作
                </p>
                <p>
                  <Out class="" href="https://buymeacoffee.com/kisaragihiu">
                    贊助我一餐飯
                  </Out>
                </p>
              </div>
              <div>
                <h2>社群</h2>
                <ul class="">
                  <li>
                    <Out class="" href="https://github.com/kemdict/kemdict">
                      GitHub
                    </Out>
                  </li>
                  <li>
                    <Out class="" href="https://www.facebook.com/kemdict">
                      Facebook
                    </Out>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      )
    }
  </body>
</html>
