---
import "./src.css";
import Out from "$src/components/Out.astro";
import { P } from "$src/components/typography";
import clsx from "clsx";

export interface Props {
  title: string;
}
const { title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{title}</title>
    <meta name="twitter:creator" content="@kisaragi_hiu" />
    <meta name="keywords" content="dictionary" />
    <meta name="theme-color" content="#000000" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <link href={canonicalURL} rel="canonical" />
    <link
      rel="stylesheet"
      href="https://indestructibletype.com/fonts/Jost.css"
      type="text/css"
      charset="utf-8"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      is:inline
      id="plausible"
      defer
      data-domain="kemdict.com"
      src="https://plausible.io/js/script.compat.outbound-links.js"
    ></script>
    {
      /* This has to not be type="module", because for some reason
      that causes it to run too late, and a FOUC happens. This also
      means is:inline is necessary as Astro-bundled script tags are
      loaded with type="module". */
    }
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        ((!localStorage.theme || localStorage.theme === "auto") &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <link rel="icon" href="/favicon.ico?v=1" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=1"
    />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div class="base">
      <slot />
    </div>
    <footer
      class={clsx("py-16 text-center", "text-gray-600 dark:text-stone-100")}
    >
      <hr />
      <P>
        <Out
          class="opacity-75 transition hover:opacity-100"
          href="https://kisaragi-hiu.com"
        >
          https://kisaragi-hiu.com
        </Out>
      </P>
      <P>
        <Out
          class="opacity-75 transition hover:opacity-100"
          href="https://kisaragi-hiu.fanbox.cc/"
        >
          在 FANBOX 上贊助我一餐飯
        </Out>
      </P>
    </footer>
  </body>
</html>
