:root {
  /* =~= Theme Properties =~= */
  --theme-font-color-base: 0 0 0;
  --theme-font-color-dark: 255 255 255;
  --theme-rounded-base: 4px;
  --theme-rounded-container: 8px;
  --theme-border-base: 1px;
  /* =~= Theme On-X Colors =~= */
  --on-primary: 0 0 0;
  --on-secondary: 0 0 0;
  --on-tertiary: 0 0 0;
  --on-success: 0 0 0;
  --on-warning: 0 0 0;
  --on-error: 255 255 255;
  --on-surface: 0 0 0;
  /* =~= Theme Colors  =~= */
  /* primary | #c9b7dc */
  --color-primary-50: 247 244 250; /* ⬅ #f7f4fa */
  --color-primary-100: 244 241 248; /* ⬅ #f4f1f8 */
  --color-primary-200: 242 237 246; /* ⬅ #f2edf6 */
  --color-primary-300: 233 226 241; /* ⬅ #e9e2f1 */
  --color-primary-400: 217 205 231; /* ⬅ #d9cde7 */
  --color-primary-500: 201 183 220; /* ⬅ #c9b7dc */
  --color-primary-600: 181 165 198; /* ⬅ #b5a5c6 */
  --color-primary-700: 151 137 165; /* ⬅ #9789a5 */
  --color-primary-800: 121 110 132; /* ⬅ #796e84 */
  --color-primary-900: 98 90 108; /* ⬅ #625a6c */
  /* secondary | #ecddee */
  --color-secondary-50: 252 250 252; /* ⬅ #fcfafc */
  --color-secondary-100: 251 248 252; /* ⬅ #fbf8fc */
  --color-secondary-200: 250 247 251; /* ⬅ #faf7fb */
  --color-secondary-300: 247 241 248; /* ⬅ #f7f1f8 */
  --color-secondary-400: 242 231 243; /* ⬅ #f2e7f3 */
  --color-secondary-500: 236 221 238; /* ⬅ #ecddee */
  --color-secondary-600: 212 199 214; /* ⬅ #d4c7d6 */
  --color-secondary-700: 177 166 179; /* ⬅ #b1a6b3 */
  --color-secondary-800: 142 133 143; /* ⬅ #8e858f */
  --color-secondary-900: 116 108 117; /* ⬅ #746c75 */
  /* tertiary | #f3e6f1 */
  --color-tertiary-50: 253 251 253; /* ⬅ #fdfbfd */
  --color-tertiary-100: 253 250 252; /* ⬅ #fdfafc */
  --color-tertiary-200: 252 249 252; /* ⬅ #fcf9fc */
  --color-tertiary-300: 250 245 249; /* ⬅ #faf5f9 */
  --color-tertiary-400: 247 238 245; /* ⬅ #f7eef5 */
  --color-tertiary-500: 243 230 241; /* ⬅ #f3e6f1 */
  --color-tertiary-600: 219 207 217; /* ⬅ #dbcfd9 */
  --color-tertiary-700: 182 173 181; /* ⬅ #b6adb5 */
  --color-tertiary-800: 146 138 145; /* ⬅ #928a91 */
  --color-tertiary-900: 119 113 118; /* ⬅ #777176 */
  /* success | #84cc16 */
  --color-success-50: 237 247 220; /* ⬅ #edf7dc */
  --color-success-100: 230 245 208; /* ⬅ #e6f5d0 */
  --color-success-200: 224 242 197; /* ⬅ #e0f2c5 */
  --color-success-300: 206 235 162; /* ⬅ #ceeba2 */
  --color-success-400: 169 219 92; /* ⬅ #a9db5c */
  --color-success-500: 132 204 22; /* ⬅ #84cc16 */
  --color-success-600: 119 184 20; /* ⬅ #77b814 */
  --color-success-700: 99 153 17; /* ⬅ #639911 */
  --color-success-800: 79 122 13; /* ⬅ #4f7a0d */
  --color-success-900: 65 100 11; /* ⬅ #41640b */
  /* warning | #EAB308 */
  --color-warning-50: 252 244 218; /* ⬅ #fcf4da */
  --color-warning-100: 251 240 206; /* ⬅ #fbf0ce */
  --color-warning-200: 250 236 193; /* ⬅ #faecc1 */
  --color-warning-300: 247 225 156; /* ⬅ #f7e19c */
  --color-warning-400: 240 202 82; /* ⬅ #f0ca52 */
  --color-warning-500: 234 179 8; /* ⬅ #EAB308 */
  --color-warning-600: 211 161 7; /* ⬅ #d3a107 */
  --color-warning-700: 176 134 6; /* ⬅ #b08606 */
  --color-warning-800: 140 107 5; /* ⬅ #8c6b05 */
  --color-warning-900: 115 88 4; /* ⬅ #735804 */
  /* error | #D41976 */
  --color-error-50: 249 221 234; /* ⬅ #f9ddea */
  --color-error-100: 246 209 228; /* ⬅ #f6d1e4 */
  --color-error-200: 244 198 221; /* ⬅ #f4c6dd */
  --color-error-300: 238 163 200; /* ⬅ #eea3c8 */
  --color-error-400: 225 94 159; /* ⬅ #e15e9f */
  --color-error-500: 212 25 118; /* ⬅ #D41976 */
  --color-error-600: 191 23 106; /* ⬅ #bf176a */
  --color-error-700: 159 19 89; /* ⬅ #9f1359 */
  --color-error-800: 127 15 71; /* ⬅ #7f0f47 */
  --color-error-900: 104 12 58; /* ⬅ #680c3a */
  /* surface | #c9b7dc */
  --color-surface-50: 247 244 250; /* ⬅ #f7f4fa */
  --color-surface-100: 244 241 248; /* ⬅ #f4f1f8 */
  --color-surface-200: 242 237 246; /* ⬅ #f2edf6 */
  --color-surface-300: 233 226 241; /* ⬅ #e9e2f1 */
  --color-surface-400: 217 205 231; /* ⬅ #d9cde7 */
  --color-surface-500: 201 183 220; /* ⬅ #c9b7dc */
  --color-surface-600: 181 165 198; /* ⬅ #b5a5c6 */
  --color-surface-700: 151 137 165; /* ⬅ #9789a5 */
  --color-surface-800: 121 110 132; /* ⬅ #796e84 */
  --color-surface-900: 98 90 108; /* ⬅ #625a6c */
}
