:root {
  /* =~= Theme Properties =~= */
  --theme-font-color-base: 0 0 0;
  --theme-font-color-dark: 255 255 255;
  --theme-rounded-base: 4px;
  --theme-rounded-container: 8px;
  --theme-border-base: 1px;
  /* =~= Theme On-X Colors =~= */
  --on-primary: 0 0 0;
  --on-secondary: 0 0 0;
  --on-tertiary: 0 0 0;
  --on-success: 0 0 0;
  --on-warning: 255 255 255;
  --on-error: 255 255 255;
  --on-surface: 0 0 0;
  /* =~= Theme Colors  =~= */
  /* primary | #9294F5 */
  --color-primary-50: 239 239 254; /* ⬅ #efeffe */
  --color-primary-100: 233 234 253; /* ⬅ #e9eafd */
  --color-primary-200: 228 228 253; /* ⬅ #e4e4fd */
  --color-primary-300: 211 212 251; /* ⬅ #d3d4fb */
  --color-primary-400: 179 180 248; /* ⬅ #b3b4f8 */
  --color-primary-500: 146 148 245; /* ⬅ #9294F5 */
  --color-primary-600: 131 133 221; /* ⬅ #8385dd */
  --color-primary-700: 110 111 184; /* ⬅ #6e6fb8 */
  --color-primary-800: 88 89 147; /* ⬅ #585993 */
  --color-primary-900: 72 73 120; /* ⬅ #484978 */
  /* secondary | #7478aa */
  --color-secondary-50: 234 235 242; /* ⬅ #eaebf2 */
  --color-secondary-100: 227 228 238; /* ⬅ #e3e4ee */
  --color-secondary-200: 220 221 234; /* ⬅ #dcddea */
  --color-secondary-300: 199 201 221; /* ⬅ #c7c9dd */
  --color-secondary-400: 158 161 196; /* ⬅ #9ea1c4 */
  --color-secondary-500: 116 120 170; /* ⬅ #7478aa */
  --color-secondary-600: 104 108 153; /* ⬅ #686c99 */
  --color-secondary-700: 87 90 128; /* ⬅ #575a80 */
  --color-secondary-800: 70 72 102; /* ⬅ #464866 */
  --color-secondary-900: 57 59 83; /* ⬅ #393b53 */
  /* tertiary | #86CB92 */
  --color-tertiary-50: 237 247 239; /* ⬅ #edf7ef */
  --color-tertiary-100: 231 245 233; /* ⬅ #e7f5e9 */
  --color-tertiary-200: 225 242 228; /* ⬅ #e1f2e4 */
  --color-tertiary-300: 207 234 211; /* ⬅ #cfead3 */
  --color-tertiary-400: 170 219 179; /* ⬅ #aadbb3 */
  --color-tertiary-500: 134 203 146; /* ⬅ #86CB92 */
  --color-tertiary-600: 121 183 131; /* ⬅ #79b783 */
  --color-tertiary-700: 101 152 110; /* ⬅ #65986e */
  --color-tertiary-800: 80 122 88; /* ⬅ #507a58 */
  --color-tertiary-900: 66 99 72; /* ⬅ #426348 */
  /* success | #87f04c */
  --color-success-50: 237 253 228; /* ⬅ #edfde4 */
  --color-success-100: 231 252 219; /* ⬅ #e7fcdb */
  --color-success-200: 225 251 210; /* ⬅ #e1fbd2 */
  --color-success-300: 207 249 183; /* ⬅ #cff9b7 */
  --color-success-400: 171 245 130; /* ⬅ #abf582 */
  --color-success-500: 135 240 76; /* ⬅ #87f04c */
  --color-success-600: 122 216 68; /* ⬅ #7ad844 */
  --color-success-700: 101 180 57; /* ⬅ #65b439 */
  --color-success-800: 81 144 46; /* ⬅ #51902e */
  --color-success-900: 66 118 37; /* ⬅ #427625 */
  /* warning | #c04818 */
  --color-warning-50: 246 228 220; /* ⬅ #f6e4dc */
  --color-warning-100: 242 218 209; /* ⬅ #f2dad1 */
  --color-warning-200: 239 209 197; /* ⬅ #efd1c5 */
  --color-warning-300: 230 182 163; /* ⬅ #e6b6a3 */
  --color-warning-400: 211 127 93; /* ⬅ #d37f5d */
  --color-warning-500: 192 72 24; /* ⬅ #c04818 */
  --color-warning-600: 173 65 22; /* ⬅ #ad4116 */
  --color-warning-700: 144 54 18; /* ⬅ #903612 */
  --color-warning-800: 115 43 14; /* ⬅ #732b0e */
  --color-warning-900: 94 35 12; /* ⬅ #5e230c */
  /* error | #c01c28 */
  --color-error-50: 246 221 223; /* ⬅ #f6dddf */
  --color-error-100: 242 210 212; /* ⬅ #f2d2d4 */
  --color-error-200: 239 198 201; /* ⬅ #efc6c9 */
  --color-error-300: 230 164 169; /* ⬅ #e6a4a9 */
  --color-error-400: 211 96 105; /* ⬅ #d36069 */
  --color-error-500: 192 28 40; /* ⬅ #c01c28 */
  --color-error-600: 173 25 36; /* ⬅ #ad1924 */
  --color-error-700: 144 21 30; /* ⬅ #90151e */
  --color-error-800: 115 17 24; /* ⬅ #731118 */
  --color-error-900: 94 14 20; /* ⬅ #5e0e14 */
  /* surface | #9ea0f6 */
  --color-surface-50: 249 250 255; /* ⬅ #f9faff */
  --color-surface-100: 236 236 253; /* ⬅ #ececfd */
  --color-surface-200: 231 231 253; /* ⬅ #e7e7fd */
  --color-surface-300: 216 217 251; /* ⬅ #d8d9fb */
  --color-surface-400: 187 189 249; /* ⬅ #bbbdf9 */
  --color-surface-500: 158 160 246; /* ⬅ #9ea0f6 */
  --color-surface-600: 142 144 221; /* ⬅ #8e90dd */
  --color-surface-700: 119 120 185; /* ⬅ #7778b9 */
  --color-surface-800: 95 96 148; /* ⬅ #5f6094 */
  --color-surface-900: 77 78 121; /* ⬅ #4d4e79 */
}
