@import "@skeletonlabs/skeleton/styles/partials/tailwind.css";
@import "@skeletonlabs/skeleton/styles/partials/core.css";
@import "typography.css";
/* @import "@skeletonlabs/skeleton/styles/typography.css"; */
@import "@skeletonlabs/skeleton/styles/partials/elements.css";
@import "@skeletonlabs/skeleton/styles/partials/variants.css";
@import "fonts.css";

/* Setting borderColor.DEFAULT wouldn't work for dark mode */
.divide-y {
  @apply divide-gray-300 dark:divide-stone-600;
}

@layer base {
  html {
    line-height: 1.6;
  }
  kbd {
    @apply kbd;
  }
  rt {
    font-size: 70%;
  }
  blockquote {
    @apply rounded px-3 py-1;
    @apply bg-surface-100 dark:bg-stone-700;
    & + blockquote {
      @apply mt-2;
    }
  }
  hr {
    @apply mx-auto my-8 w-[95%];
  }
  .base {
    width: 95%;
    @apply mx-auto my-0 max-w-5xl pt-12;
  }
  body {
    /* Ensure the footer touches the bottom */
    @apply flex flex-col justify-between;
    /* Note that these are colors we declared in tailwind.config because
  Skeleton does not have 950 styles yet, and the surface 900 color is
  way too bright. */
    @apply bg-surface-50 dark:bg-surface-950;
    @apply dark:text-white;
    @apply relative;
    min-height: 100vh;
    @apply fade;
    &:focus-visible {
      outline: none;
    }
  }
}

@layer components {
  .k-input {
    @apply h-12;
    @apply px-4;
    @apply text-sm;
    @apply border border-gray-400 dark:border-stone-500;
    @apply bg-white/20;
    @apply rounded;
    &:focus {
      @apply outline outline-2 outline-offset-2;
      @apply outline-gray-300 dark:outline-gray-500;
    }
  }
  .wordlink {
    @apply fade btnBorder btnColor rounded-md px-2 py-1 font-bold;
    &:hover {
      @apply no-underline;
    }
  }
  .lang {
    @apply mt-4;
    h1 + & {
      @apply mt-0;
    }
    @apply font-serif text-2xl;
    @apply border-b;
    @apply border-black dark:border-stone-500;
  }
  .dict {
    @apply mt-4;
    h1 + & {
      @apply mt-2;
    }
    @apply text-lg font-bold;
  }
  .toc,
  .def {
    a {
      @apply link;
    }
  }
  ul.two {
    column-count: 2;
    li {
      @apply my-0;
    }
    p {
      @apply my-0 pb-2;
    }
  }
  .links {
    a {
      @apply link;
    }
  }
  .prose {
    @apply dark:prose-invert;
    @apply prose-a:link max-w-none;
    @apply prose-li:pl-1;
    @apply prose-blockquote:not-italic prose-blockquote:my-2 prose-blockquote:py-2 prose-blockquote:font-normal;
    --tw-prose-bullets: "#000";
    :where(ul):not(:where([class~="not-prose"] *)) {
      @apply ml-0 pl-0;
    }
    :where(ol):not(:where([class~="not-prose"] *)) {
      @apply list-decimal;
    }
    :where(dl):not(:where([class~="not-prose"] *)) {
      dt {
        @apply font-bold;
        @apply text-gray-600 dark:text-gray-300;
        a {
          @apply text-indigo-500 dark:text-indigo-400;
        }
        &:before {
          content: "– ";
          @apply font-normal;
        }
        &:after {
          content: " ::";
          @apply font-normal;
          @apply text-gray-400 dark:text-gray-500;
        }
      }
      dd {
        @apply mb-2 ml-6;
      }
    }
    :where(table):not(:where([class~="not-prose"] *)) {
      @apply divide-y;
      @apply text-left;
      th {
        @apply text-gray-700 dark:text-gray-300;
      }
      td {
        @apply text-teal-900 dark:text-fuchsia-100;
      }
      th,
      td {
        @apply dark:border-stone-700;
        @apply text-left;
        @apply p-1;
      }
    }
  }
  .word {
    table {
      @apply text-lg;
      th,
      td {
        @apply text-lg;
      }
    }
    .copyright {
      @apply mb-2 mt-6 text-right text-sm opacity-75;
    }
    transition-property: max-height;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    h1,
    h2,
    h3 {
      @apply font-bold;
    }
    h1 {
      @apply mt-10 text-2xl first:mt-4;
    }
    h2 {
      @apply mt-4 text-2xl;
    }
    h3 {
      @apply mb-0 mt-2;
    }
    ol {
      padding-left: 1.5rem;
      @apply list-decimal;
      li {
        @apply mt-2;
      }
    }
    li:first-child {
      @apply mt-0;
    }
    /* m for Mark. The "例" "英" "反" sort of marker */
    m {
      @apply inline-block pl-1 font-bold;
    }
    .pos {
      @apply mt-2 block font-bold;
    }
    /* This makes up for the mt-2 in .pos if .pos is not present. */
    :not(.pos) + ol,
    :not(.pos) + .def {
      @apply mt-2;
    }
    p,
    li {
      @apply prose;
      @apply prose-a:text-gray-900 dark:prose-a:text-gray-100;
      @apply hover:prose-a:text-gray-900 dark:hover:prose-a:text-gray-100;
      @apply hover:prose-a:underline;
    }
    .def {
      @apply mb-2 block;
    }
  }
  .btnColor {
    @apply bg-surface-200 hover:bg-surface-300 dark:bg-surface-900 dark:hover:bg-surface-800;
  }
  .btnBorder {
    @apply border;
    @apply border-surface-400 bg-surface-200 dark:border-surface-800;
  }
  .k-btn {
    @apply rounded-md p-1 px-2 text-sm font-bold transition;
    @apply btnColor btnBorder;
  }
  .k-hlbtn {
    @apply rounded-md p-1 px-2 text-sm font-bold transition;
    @apply bg-primary-500 hover:bg-primary-600 text-black;
    @apply dark:bg-primary-500 dark:hover:bg-primary-400;
  }
  .link {
    @apply fade text-primary-700 dark:text-primary-500;
    @apply no-underline;
    &:hover {
      @apply text-primary-600 dark:text-primary-400;
    }
  }
}

@layer utilities {
  .font-heading-token {
    @apply font-sans;
  }
  .font-token {
    @apply font-sans;
  }
  .fade {
    @apply transition duration-100 ease-in-out;
  }
}
