@tailwind base;
@tailwind components;
@tailwind utilities;

/* HACK sigh */
.list-none {
  list-style: none !important;
}
.p-0 {
  padding: 0 !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}

@layer base {
  html {
    line-height: 1.6;
  }
  rt {
    font-size: 70%;
  }
  blockquote {
    @apply px-4 py-1 rounded;
    @apply bg-gray-200 dark:bg-stone-700;
  }
  hr {
    @apply border-gray-400;
    @apply my-8 w-[95%] mx-auto;
  }
  body {
    @apply relative mt-12;
    @apply bg-white dark:bg-stone-900;
    @apply dark:text-white;
    @apply fade;
    &:focus-visible {
      outline: none;
    }
  }
  .base {
    width: 95%;
    @apply max-w-4xl m-auto mb-24;
  }
  ol {
    @apply pl-4;
  }
}

@layer components {
  /* Put it here for more readable comments. */
  div.split-layout {
    @apply relative;
    /* HACK this works around the left slot clipping into content that
       comes after the split layout.

       Honestly we should just use a grid.
    */
    @apply sm:min-h-[15rem];
    & > div {
      /* The gap between the left edge of the container and the right slot */
      @apply sm:ml-[15rem] md:ml-[18rem];
      & > div.left {
        /* The right slot position minus the gap (2rem) we want between left
           and right */
        @apply sm:w-[12rem] md:w-[15rem];
        /* Actually place it on the left */
        @apply sm:absolute sm:top-4 sm:left-4;
        /* Style for when it's collapsed */
        @apply max-sm:mb-6;
      }
    }
  }
  /* Search Form */
  #sf {
    input,
    select {
      @apply px-2 py-1;
      @apply fade;
    }
  }
  .wordlink {
    @apply btn py-1 px-2 font-bold;
    &:hover {
      @apply no-underline;
    }
  }
  .dict {
    @apply border-b mb-2 my-8;
    @apply border-black dark:border-stone-500;
    @apply flex justify-between;
    a {
      @apply link;
    }
  }
  .toc,
  .def {
    a {
      @apply link;
    }
  }
  .word {
    transition-property: max-height;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    h1,
    h2,
    h3 {
      @apply font-bold;
    }
    a {
      @apply link;
    }
    h1 {
      @apply text-xl mt-4;
    }
    h2 {
      @apply text-xl mt-4;
    }
    h3 {
      @apply mb-0 mt-2;
    }
    ol {
      padding-left: 1.5rem;
      @apply list-decimal;
    }
    li {
      @apply mt-2;
    }
    li:first-child {
      @apply mt-0;
    }
    /* m for Mark. The "例" "英" "反" sort of marker */
    m {
      @apply font-bold px-1 mr-1 inline-block w-6;
    }
    .pos {
      @apply font-bold mt-2 block;
    }
    /* This makes up for the mt-2 in .pos if .pos is not present. */
    :not(.pos) + ol,
    :not(.pos) + .def {
      @apply mt-2;
    }
    p {
      @apply prose;
    }
    .def {
      @apply block mb-2;
    }
  }
  .btnColor {
    @apply bg-gray-200 hover:bg-gray-300 dark:bg-stone-800 dark:hover:bg-stone-700;
  }
  .btn {
    @apply btnColor rounded-md fade;
  }
}

@layer utilities {
  .link {
    @apply text-indigo-500 dark:text-indigo-300;
    @apply no-underline;
    &:hover {
      @apply underline;
    }
  }
  .prose {
    p {
      @apply my-2;
    }
    h1,
    h2,
    h3 {
      @apply font-bold;
    }
    /* This is the sort of style generated by @tailwindcss/typography.
       This selector will not override utilities. */
    :where(h1):not(:where([class~="not-prose"] *)) {
      @apply text-xl mt-8 mb-4;
    }
    :where(a):not(:where([class~="not-prose"] *)) {
      @apply link;
    }
    :where(ul):not(:where([class~="not-prose"] *)) {
      list-style-type: "– ";
      @apply pl-4;
    }
    h2 {
      @apply mt-6;
    }
    ol {
      @apply list-decimal;
    }
  }
  .fade {
    @apply transition duration-100 ease-in-out;
  }
}
