/* Modified from skeleton's typography.css to remove the heading font
   size style */

@layer base {
  body {
    @apply font-token text-token;
  }

  /* === Headings === */

  h1:not(.unstyled):is(:not(.prose *)) {
    @apply font-heading-token;
  }
  h2:not(.unstyled):is(:not(.prose *)) {
    @apply font-heading-token;
  }
  h3:not(.unstyled):is(:not(.prose *)) {
    @apply font-heading-token;
  }
  h4:not(.unstyled):is(:not(.prose *)) {
    @apply font-heading-token;
  }
  h5:not(.unstyled):is(:not(.prose *)) {
    @apply font-heading-token;
  }
  h6:not(.unstyled):is(:not(.prose *)) {
    @apply font-heading-token;
  }

  /* === Elements === */

  p:not(.unstyled):is(:not(.prose *)) {
    /* NOTE: do not hardcode a text color style here. It makes color overrides difficult. */
    @apply text-base;
  }

  a:not(.unstyled):not(.permalink):is(:not(.prose *)):not(.btn):not(
      .btn-icon
    ):not(.app-bar a):not(.logo-item):not(a.card):not(.list-nav a) {
    @apply text-primary-700 dark:text-primary-500 hover:brightness-110;
  }

  blockquote:not(.unstyled):is(:not(.prose *)) {
    @apply text-token border-l-secondary-500 border-l-8 px-4 pl-4 text-base;
  }

  /* Keyboard */
  kbd:not(.unstyled):is(:not(.prose *)) {
    @apply font-sans text-sm font-bold;
    @apply bg-surface-300-600-token rounded px-1.5 py-[3px];
    @apply ring-surface-900 ring-[1px] ring-inset;
    @apply border-surface-900 border-b-2;
  }

  /* === Code Blocks === */
  /* For use outside of Skeleton's CodeBlock component */

  pre:not(.unstyled):not(.code-block pre):is(:not(.prose *)) {
    @apply rounded-container-token overflow-x-auto whitespace-pre-wrap bg-neutral-900/90 p-4 font-mono text-base text-white;
  }

  code:not(.unstyled):is(:not(.prose *)):is(:not(pre *)) {
    @apply text-primary-700 dark:text-primary-400 whitespace-nowrap font-mono text-xs;
    @apply bg-primary-500/30 dark:bg-primary-500/20;
    @apply rounded px-1 py-0.5;
  }

  /* === Insertions / Deletions  ==== */
  /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins */
  /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del */

  ins:not(.unstyled):is(:not(.prose *)),
  del:not(.unstyled):is(:not(.prose *)) {
    @apply relative block p-0.5 pl-5;
    text-decoration: none;
  }

  ins:not(.unstyled):is(:not(.prose *))::before,
  del:not(.unstyled):is(:not(.prose *))::before {
    @apply absolute left-1 font-mono;
  }
  ins:not(.unstyled):is(:not(.prose *))::before {
    content: "+";
  }
  del:not(.unstyled):is(:not(.prose *))::before {
    content: "−";
  }

  ins:not(.unstyled):is(:not(.prose *)) {
    @apply bg-success-500 text-on-success-token font-mono;
  }
  del:not(.unstyled):is(:not(.prose *)) {
    @apply bg-error-500 text-on-error-token font-mono;
  }

  /* === Date/Time === */
  /* Useful for displaying timestamps */

  time:not(.unstyled):is(:not(.prose *)) {
    @apply text-surface-500 dark:text-surface-400 text-sm;
  }
}
