/* Modified from skeleton's typography-next.css to remove the heading
   font size style */

@layer base {
  body {
    @apply font-token text-token text-base;
  }

  /* === Headings === */

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply font-heading-token;
  }

  /* === Elements === */

  /* p { ... } */

  .anchor {
    @apply text-primary-700 dark:text-primary-500 underline hover:brightness-110;
  }

  .blockquote {
    @apply text-token border-l-secondary-500 border-l-8 px-4 pl-4 text-base italic;
  }

  /* Keyboard */
  .kbd {
    @apply font-sans text-sm font-bold;
    @apply bg-surface-300-600-token rounded px-1.5 py-[3px];
    @apply ring-surface-900 ring-[1px] ring-inset;
    @apply border-surface-900 border-b-2;
  }

  /* Timestamps */
  .time {
    @apply text-surface-500 dark:text-surface-400 text-sm;
  }

  /* === Preformatted / Code === */
  /* For use outside of Skeleton's CodeBlock component */

  .pre {
    @apply rounded-container-token overflow-x-auto whitespace-pre-wrap bg-neutral-900/90 p-4 font-mono text-base text-white;
  }

  .code {
    @apply text-primary-700 dark:text-primary-400 whitespace-nowrap font-mono text-xs;
    @apply bg-primary-500/30 dark:bg-primary-500/20;
    @apply rounded px-1 py-0.5;
  }

  /* === Insertions / Deletions  ==== */
  /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins */
  /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del */

  .ins,
  .del {
    @apply relative block p-0.5 pl-5;
    text-decoration: none;
  }

  .ins::before,
  .del::before {
    @apply absolute left-1 font-mono;
  }
  .ins::before {
    content: "+";
  }
  .del::before {
    content: "−";
  }

  .ins {
    @apply bg-success-500 text-on-success-token font-mono;
  }
  .del {
    @apply bg-error-500 text-on-error-token font-mono;
  }
}
