---
layout: base.njk
---

<!-- Contents -->

<div class="mt-12 w-[50%] mx-auto max-w-full">
  <h1>kemdict (β)</h1>
  <p>placeholder</p>
  <p>For now, words can be looked up through the url bar.</p>
  <p>
    <a class="text-blue-500" href="https://github.com/kisaragi-hiu/kemdict"
      >https://github.com/kisaragi-hiu/kemdict</a
    >
  </p>
</div>
