---
layout: base.njk
pagination:
  data: combined
  size: 1
  alias: word
  resolve: values
permalink: "word/{{ word.title | lower }}/index.html"
eleventyComputed:
  title: "「{{ word.title }}」- kemdict"
---

{% import "macros.njk" as macros %}

<div class="h">
  <h1><a href="/">kemdict (β)</a></h1>
  {% include "searchBar.njk" %}
</div>

{% if word.dict_revised %}
<div>{{ macros.render_word(word, "dict_revised") }}</div>
{% endif %} {% if word.dict_concised %}
<div>{{ macros.render_word(word, "dict_concised") }}</div>
{% endif %} {% if word.moedict_twblg %}
<div>{{ macros.render_word(word, "moedict_twblg") }}</div>
{% endif %} {% if word.dict_idioms %}
<div>{{ macros.render_word(word, "dict_idioms") }}</div>
{% endif %} {% if word.kisaragi_dict %}
<div>{{ macros.render_word(word, "kisaragi_dict") }}</div>
{% endif %}

<hr />
<div class="prose">
  <ul class="my-10">
    <li>
      <a href="https://google.com/search?q={{word.title}}"
        >在 Google 搜尋「{{word.title}}」</a
      >
    </li>
    <li>
      <a href="https://zh.wiktionary.org/w/index.php?search={{word.title}}"
        >在維基詞典搜尋「{{word.title}}」</a
      >
    </li>
    <li>
      <a href="https://moedict.tw/{{word.title}}"
        >在萌典搜尋「{{word.title}}」</a
      >
    </li>
    <li>
      <a
        href="https://terms.naer.edu.tw/search/?match_type=phrase&query_op=&query_field=title&query_term={{word.title}}"
        >在學術名詞資料庫搜尋「{{word.title}}」</a
      >
    </li>
    <li>
      <a href="https://www.weblio.jp/content_find?query={{word.title}}"
        >在 Weblio 搜尋「{{word.title}}」</a
      >
    </li>
  </ul>
  {% if word.dict_revised or word.moedict_twblg or word.dict_concised or
  word.dict_idioms %}
  <h2 class="mt-2">本頁的著作權</h2>
  <p>
    中華民國教育部《重編國語辭典修訂本》、《國語辭典簡編本》、《國語小字典》與《成語典》相關資料採「創用CC-姓名標示-禁止改作
    3.0 臺灣授權條款」釋出。
  </p>
  {% if word.dict_revised %}
  <p>
    《<a href="https://dict.revised.moe.edu.tw">重編國語辭典修訂本</a>》©
    中華民國教育部（版本編號：2015_20220922）。<a
      href="/l/reviseddict_10312.pdf"
      >使用說明</a
    >
  </p>
  {% endif %} {% if word.dict_concised %}
  <p>
    《<a href="https://dict.concised.moe.edu.tw">國語辭典簡編本</a>》©
    中華民國教育部（版本編號：2014_20220928）。<a
      href="/l/concisedict_10312.pdf"
      >使用說明</a
    >
  </p>
  {% endif %} {% if word.moedict_twblg %}
  <p>
    《<a href="https://twblg.dict.edu.tw">臺灣閩南語常用詞辭典</a>》©
    中華民國教育部（版本編號：20190610）。見<a
      href="https://github.com/g0v/moedict-data-twblg"
      >moedict-data-twblg</a
    >
  </p>
  {% endif %} {% if word.dict_idioms %}
  <p>
    《<a href="https://dict.idioms.moe.edu.tw">成語典</a>》©
    中華民國教育部（版本編號：2020_20220928）。<a href="/l/idiomsdict_10409.pdf"
      >使用說明</a
    >
  </p>
  {% endif %} {% endif %}
</div>
<hr />
<p>
  如果 Kemdict 有幫助到您，請考慮<a
    href="https://www.buymeacoffee.com/kisaragihiu"
    >贊助我一餐飯</a
  >。謝謝。
</p>
