---
layout: base.njk
pagination:
  data: combined
  size: 1
  alias: word
  resolve: values
permalink: "word/{{ word.title }}/index.html"
title: "「{{ word.title }}」- kemdict"
---

{% import "macros.njk" as macros %}

<div class="h">
  <h1><a href="/">kemdict (β)</a></h1>
  {% include "searchBar.njk" %}
</div>

{% if word.moedict_zh %}
<div>
  <div id="moedict_zh" class="dict">
    <a href="https://dict.revised.moe.edu.tw/search.jsp?word={{word.title}}"
      >教育部重編國語辭典</a
    >
  </div>
  {{ macros.render_word(word, "moedict_zh") }}
</div>
{% endif %} {% if word.dict_concised %}
<div>
  <div id="dict_concised" class="dict">
    <a href="https://dict.concised.moe.edu.tw/search.jsp?word={{word.title}}"
      >教育部國語辭典簡編本</a
    >
  </div>
  {{ macros.render_word_dict_concised(word) }}
</div>
{% endif %} {% if word.moedict_twblg %}
<div>
  <div id="moedict_twblg" class="dict">
    <a
      href="https://twblg.dict.edu.tw/holodict_new/result_main.jsp?radiobutton=1&limit=20&querytarget=1&sample={{word.title}}"
      >教育部臺灣閩南語常用詞辭典</a
    >
  </div>
  {{ macros.render_word(word, "moedict_twblg") }}
</div>
{% endif %} {% if word.dict_idioms %}
<div>
  <div id="dict_idioms" class="dict">
    <a href="https://dict.idioms.moe.edu.tw/idiomList.jsp?idiom={{word.title}}"
      >教育部成語典</a
    >
  </div>
  {{ macros.render_word_dict_idioms(word["dict_idioms"]) }}
</div>
{% endif %} {% if word.kisaragi_dict %}
<div>
  <div id="kisaragi_dict" class="dict">
    <a href="/dict-kisaragi">Kisaragi's extras (beta)</a>
  </div>
  {{ macros.render_word(word, "kisaragi_dict") }}
</div>
{% endif %}

<hr />
<div class="prose">
  <ul class="my-10">
    <li>
      <a href="https://google.com/search?q={{word.title}}"
        >在 Google 搜尋「{{word.title}}」</a
      >
    </li>
    <li>
      <a href="https://zh.wiktionary.org/w/index.php?search={{word.title}}"
        >在維基詞典搜尋「{{word.title}}」</a
      >
    </li>
    <li>
      <a href="https://moedict.tw/{{word.title}}"
        >在萌典搜尋「{{word.title}}」</a
      >
    </li>
    <li>
      <a href="https://www.weblio.jp/content_find?query={{word.title}}"
        >在 Weblio 搜尋「{{word.title}}」</a
      >
    </li>
  </ul>
  {% if word.moedict_zh or word.moedict_twblg or word.dict_concised or
  word.dict_idioms %}
  <h2 class="mt-2">本頁的著作權</h2>
  <p>
    中華民國教育部《重編國語辭典修訂本》、《國語辭典簡編本》、《國語小字典》與《成語典》相關資料採「創用CC-姓名標示-禁止改作
    3.0 臺灣授權條款」釋出。
  </p>
  {% if word.moedict_zh %}
  <p>
    《<a href="https://dict.revised.moe.edu.tw">重編國語辭典修訂本</a>》©
    中華民國教育部（版本編號：2015_20160523）。<a
      href="/l/reviseddict_10312.pdf"
      >使用說明</a
    >
  </p>
  {% endif %} {% if word.dict_concised %}
  <p>
    《<a href="https://dict.concised.moe.edu.tw">國語辭典簡編本</a>》©
    中華民國教育部（版本編號：2014_20220928）。<a
      href="/l/concisedict_10312.pdf"
      >使用說明</a
    >
  </p>
  {% endif %} {% if word.moedict_twblg %}
  <p>
    《<a href="https://twblg.dict.edu.tw">臺灣閩南語常用詞辭典</a>》©
    中華民國教育部（版本編號：20190610）。見<a
      href="https://github.com/g0v/moedict-data-twblg"
      >moedict-data-twblg</a
    >
  </p>
  {% endif %} {% if word.dict_idioms %}
  <p>
    《<a href="https://dict.idioms.moe.edu.tw">成語典</a>》©
    中華民國教育部（版本編號：2020_20220928）。<a href="/l/idiomsdict_10409.pdf"
      >使用說明</a
    >
  </p>
  {% endif %} {% endif %}
</div>
