---
const { initialInput, wantHeader = true, leftFirst = true } = Astro.props;

import BaseLayout from "$src/BaseLayout.astro";
import Header from "$src/components/Header.astro";
---

<BaseLayout title={title}>
  {wantHeader && <Header search={true} initialInput={initialInput} />}
  {
    leftFirst ? (
      <div class="split-layout">
        <div>
          <div class="left max-sm:mb-6">
            <slot name="left" />
          </div>
          <slot name="right" />
        </div>
      </div>
    ) : (
      <div class="split-layout">
        <div>
          <slot name="right" />
          <div class="left max-sm:mt-8">
            <slot name="left" />
          </div>
        </div>
      </div>
    )
  }
</BaseLayout>
