---
export interface Props {
  search?: boolean;
  initialInput?: string;
  initialMatchSelection?: string;
  showMatchTypes?: boolean;
  submitSuffix?: string;
}
const {
  search,
  initialInput,
  initialMatchSelection,
  showMatchTypes,
  submitSuffix,
} = Astro.props;

import DarkModeToggle from "./DarkModeToggle.svelte";
import SearchBar from "./SearchBar.svelte";
---

<div class="mb-8">
  <nav class="my-2 flex items-center justify-between">
    <a class="font-bold hover:underline" href="/">Kemdict 國語整合典 (β)</a>
    <div class="text-right">
      <DarkModeToggle client:load />
    </div>
  </nav>
  {
    /* TODO: Include advanced search params, like match type, filters, dictionary, length, etc. in this page. */
  }
  {
    search && (
      <SearchBar
        initialInput={initialInput}
        initialMatchSelection={initialMatchSelection}
        showMatchTypes={showMatchTypes}
        submitSuffix={submitSuffix}
        client:load
      />
    )
  }
</div>
